<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Employees</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      {{#each content as |employee| }}
      <div class="col-md-2 col-sm-3 col-xs-4">
        <div class="employee-item">
          {{#link-to 'employee' employee class="thumbnail"}}
            <img src={{employee.image}}>
            <h4>{{employee.fullName}}</h4>
          {{/link-to}}
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</div>
