.filter-panel {
  margin-bottom: 2em;
  overflow: auto;

  .dropdown, .dropup, .chip {
    float: left;
    margin-right: 1em;
  }
  .filter-panel-keys {
    display: flex;
  }
  ul {
    list-style: none;
    padding-left: 0;
    flex-basis: 25%;
  }
}
