.skill-list {
  position: relative;
  padding-top: 3em;
}

.year-marker {
  border-left: 1px solid #ccc;
  position: absolute;
  top: 1em;
  bottom: 0;
  .year {
    display: block;
    transform: translate(-50%, -1.5em);
  }
}

.skill-item {
  padding: 9px 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  &:first-child {
    border-top: 1px solid #ccc;
  }
}

.skill-item-title {
  width: 12em;
  float:left;
}

.skill-item-timeline {
  width: auto;
  overflow: hidden;
  position: relative;
  &:after {
    content: "\00a0";
  }
}

.timeline-bar-segment {
  right: 0;
  position: absolute;
  z-index: 1;
  $hue: 0;
  $colors: (
    beginner: #FFAB91,
    intermediate: #FFF59D,
    expert: #A5D6A7
  );
  @each $level, $color in $colors {
    &.#{$level} {
      background-color: $color;
      &:hover {
        background-color: scale-color($color, $lightness: -20%);
      }
    }
  }
}

.no-results {
  text-align: center;
  margin-top: -3em; // Amateur...
  margin-bottom: -1em;
}
