.skill-list {
  position: relative;
}

.year-marker {
  border-left: 1px solid #ccc;
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.skill-item {
  padding: 9px 0;
  overflow: hidden;
}

.skill-item-title {
  width: 12em;
  float:left;
}

.skill-item-timeline {
  width: auto;
  overflow: hidden;
  position: relative;
  &:after {
    content: "\00a0";
  }
}

.timeline-bar-segment {
  right: 0;
  position: absolute;
  &.beginner {
    background-color: #E0E6F6;
  }
  &.intermediate {
    background-color: #96B3D3;
  }
  &.expert {
    background-color: #37628F;
  }
}
