.skill-item {
  padding: 9px 0;
}

.skill-item-title {
  //background: grey;
}

.skill-item-timeline {
  //background: #ccc;
  position: relative;
}

.timeline-bar-segment {
  right: 0;
  position: absolute;
}
