.skill-list {
  position: relative;
  padding-top: 3em;
}

.year-marker {
  border-left: 1px solid #ccc;
  position: absolute;
  top: 1em;
  bottom: 0;
  .year {
    display: block;
    transform: translate(-50%, -1.5em);
  }
}

.skill-item {
  padding: 9px 0;
  overflow: hidden;
  border-bottom: 1px solid #ccc;
  &:first-child {
    border-top: 1px solid #ccc;
  }
}

.skill-item-title {
  width: 12em;
  float:left;
}

.skill-item-timeline {
  width: auto;
  overflow: hidden;
  position: relative;
  &:after {
    content: "\00a0";
  }
}

.timeline-bar-segment {
  right: 0;
  position: absolute;
  z-index: 1;
  $hues: (
    beginner: 89,
    intermediate: 45,
    expert: 0
  );
  @each $level, $hue in $hues {
    &.#{$level} {
      background-color: hsl($hue, 100%, 40%);
      &:hover {
        background-color: hsl($hue, 90%, 60%);
      }
    }
  }
}

.no-results {
  text-align: center;
  margin-top: -3em; // Amateur...
  margin-bottom: -1em;
}
