.skill-item {
  padding: 9px 0;
}

.skill-item-title {
  //background: grey;
}

.skill-item-timeline {
  //background: #ccc;
  position: relative;
}

.timeline-bar-segment {
  right: 0;
  position: absolute;
  &.beginner {
    background-color: #E0E6F6;
  }
  &.intermediate {
    background-color: #96B3D3;
  }
  &.expert {
    background-color: #37628F;
  }
}
