<!DOCTYPE html>
<html>
  <head>
    <title>Skillsheet</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'home', media: 'all' %>
  </head>

  <body>
    <%= yield %>
    <%= javascript_include_tag *webpack_asset_paths('application') %>
  </body>
</html>
